.cardContainer {
  width: 100%;
  max-width: 450px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  margin: 5px 0;
  min-height: 200px;
  display: flex;
  align-items: center;
}

.jokeText {
  padding: 20px 16px;
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
  line-height: 28px;
  letter-spacing: 0.6px;
}

.errorText {
  padding: 20px 16px;
  font-size: 20px;
  font-weight: 400;
  color: red;
}
